:root {
	--color-text: white;
	--color-background: white;
	--color-primary: #e6060d;
	font-family: "Inter", sans-serif;
}

body {
	background-color: var(--color-background);
	margin: 0;
}

header {
	box-sizing: border-box;
	text-align: center;
	color: var(--color-text);
	background-color: var(--color-primary);
	padding: 0.5em;
	margin-bottom: 1em;
	width: 100%;
}

header>*>* {
	padding: 2px;
}

main {
	text-align: center;
	width: 100%;
}

.board {
	max-width: 100%;
	display: inline-grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	overflow-x: scroll;
}

.square {
	max-width: 8em;
	min-width: 5.5em;
	min-height: 5.5em;
	aspect-ratio: 1/1;
	color: var(--color-text);
	background-color: var(--color-primary);
	margin: 3px;
	transition: opacity 0.1s;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.square:hover {
	cursor: pointer;
}

.square>div {
	margin: 5px;
	padding: 5px;
	font-weight: 600;
}

@media only screen and (max-width: 700px) {
	.square>div {
		font-size: 11px;
	}
}

.square.checked {
	opacity: 0.4;
}

#confetti-canvas {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 5;
	z-index: 10;
}
